/*  POPPINS FONT :- (font-family: 'Poppins') */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0px;
  padding: 0px;
 font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
}
/*  HEADERS  */
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #a85df3;
  min-height: 80px;
}
.left{
  color: white;
  font-size: 1.8rem;
  
}
.right{
  font-size: 1.3rem;
}
.right ul{
  display: flex;
}
.right ul li{
  margin: 1vw;
  list-style-type: none;
}
.right ul a{
  text-decoration: none;
  color: white;
}
.right ul a:hover{
  font-weight: bold;
  color: black;
}

/*  FIRTS SECTION  */
.firstsection{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1vh 0vh;
  height: 400px;
  padding: 1vh 0vh;
}
.leftsection{
  font-size: 2rem;
  margin: 1vh 0vh;
}
.rightsection img{
  width: 350px;
  height: 350px;
}
.purple{
  color: #a85df3;
}
#element{
  color: #a85df3;
}

/*   ICONS  */
.secound-icon-boxes{
  display: flex;
  justify-content: space-around;
  overflow: scroll;
  margin: 1vh 0vh;
}
.secound-icon-boxes .icon-box{
  width: 300px;
  margin: 0vw 2vw;
}
.secound-icon-boxes .icon-box img{
  width: 50px;
  height: 50px;
  border: 1.5px solid #a85df3;
  padding: 5px;
  border-radius: 50%;
}
/*  SECOND SECTION  */
.secondsection{
  width: 80vw;
  margin: auto;
  padding: 10px;
  margin-bottom: 3vh;
}
 .secondsection h1{
  font-size: 2rem;
  margin-bottom: 5px;
}
.secound-boxes{
  display: flex;
  overflow: scroll;
}
.secound-boxes .box{
  width: 300px;
  margin: 0vw 2vw;
}
.secound-boxes .box h2{
 font-size: 1rem;
 margin: 2px 0px;
 text-transform: lowercase;
}
.secound-boxes .box .c-gr{
 font-size: 0.8rem;
 margin: 2px 0px;
}
.secound-boxes .box p{
 font-size: 0.8rem;
 margin: 0px;
}
.secound-boxes .box .vertical{
  width: 200px;
  height: 100px;
  border-left: 2px solid #a85df3;
  padding: 5px;
}

/*  FOOTERS  */
footer{
  background-color: black;
  color: white;
  padding: 1vh;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-first{
  width: 80vw;
  margin: 1vh 0vh;
}
.footer-secound li{
 list-style: none;
 font-size: 14px;
}
.footer-third li{
 list-style: none;
 font-size: 14px;
}
.footer-fourth li{
 list-style: none;
 font-size: 14px;
}
.copy-des{
  width: 200px;
  font-size: 12px;
  color: gray;
}